@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Container for the whole login page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  width: 100%;
}

/* Left section styles */
.left-section {
  padding: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-right: 1px solid #ccc; /* Divider between sections */
}

/* Logo styles */
.Logo {
  width: 150px;
  margin-bottom: 20px;
}

/* Input fields and form styles */
.login-input-group {
  margin-bottom: 18px;
  width: 100%;
}

.login-input {
  width: 340px;
  padding: 10px; /* Espacio interno en los campos de entrada */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  background-color: #c6c6c6c9; /* Color de fondo */
}

.login-input:focus {
  border-color: #6a2680; /* Color de borde al enfocar */
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #6a2680;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.login-button:hover {
  background-color: #5a1e70; /* Color más oscuro para hover */
}

/* Divider */
.login-divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

/* Registration and password recovery links */
.login-register1 {
  font-size: 14px;
  color: black;
  margin-top: 20px;
}

.login-register1 a {
  color: #6a2680;
  text-decoration: none;
  font-weight: bold;
}

.login-register1 a:hover {
  text-decoration: underline;
}

/* Right section styles */
.right-section {
  padding: 80px;
  flex: 1;
  background-color: #6a2680; 
  color: white;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.login-container-2 h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.login-container-2 p {
  font-size: 16px;
}

.login-container-2 button {
  background-color: transparent;
  color: white;
  border: white solid 2px; 
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.login-container-2 button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Efecto de hover */
}

/* Registration link */
.login-register {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}

.login-register a{
  background-color: transparent;
  font-weight: bold;
}

.login-register a:hover {
  background-color: transparent;
  text-decoration: underline; /* Subrayado en hover */
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .left-section, .right-section {
    padding: 40px 20px;
  }

  .login-container-2 h2 {
    font-size: 24px;
  }
}

/* Tablet styles */
@media only screen and (max-width: 1024px) {
  .login-container {
    max-width: 700px;
  }

  .left-section, .right-section {
    padding: 50px;
  }
}
