@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color:  #b370b0;
    margin: 0;
    padding: 0;
    display: flow-root;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    display: flex;
    padding: 10px;
}

.header {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    text-align: center;
    color: #b370b0;
}

.modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 30%;
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid  #b370b0;
    border-radius: 20px;
    box-shadow: 0 0 10px  #b370b0;
    box-sizing: border-box;
}

h2 {
    color: #b370b0;
    text-align: center;
    margin: 5px;
}

.header h3 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}

.subtext {
    color: #000000;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-top: 0.5rem;
    color: #efefef;
    font-size: 20px;
}

.form-group input,
.form-group select {
    display: block;
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
    border: 2px solid rgb(224, 104, 208);
    border-radius: 15px;
}

.form-group input::placeholder,
.form-group select::placeholder {
    color: #9b59b6;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row.horizontal {
    flex-direction: row;
}

.form-row .form-group {
    flex: 1;
}

.form-group button {
    background-color: #870585;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
}

.form-group button:hover {
    background-color: #6a2774;
}

.link {
    text-align: center;
    margin-top: 10px;
}

.link a {
    color:  #b370b0;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

#custom-gender-container {
    display: none;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}

#custom-gender-container.active {
    display: block;
    max-height: 200px;
}

.form-group.wide-input input {
    width: calc(106% - 22px);
}

.form-group input[type="password"],
.form-group input[type="email"] {
    border: 1px solid #b370b0; /* Change border color to purple */
}

@media (min-width: 601px) {
    .form-row.horizontal {
        flex-direction: row;
    }
}


.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/13.png') no-repeat center center; 
    background-size: cover; 
    font-family: 'Arial', sans-serif;
  }
  
  /* Contenedor de contenido */
  .registro-content {
    display: flex;
    width: 100%;
    max-width: 1000px; 
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  .registro-logo-container {
    flex: 1.5;
    background-color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .registro-logo {
    max-width: 200px; 
    height: auto;
  }
  
  
  .registro-form-container {
    flex: 2;
    background: linear-gradient(to top, #D900FF, #3A124A);  padding: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .registro-form {
    display: flex;
    flex-direction: column;
  }
  
  .registro-form h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 8px;
    font-size: 35px;
  
  }
  
  .registro-form label {
    display: block;
    margin-top: 0.5rem;
    color: #efefef;
    font-size: 20px;
  }
  
  .registro-form input {
    display: block;
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
    border: 2px solid rgb(224, 104, 208);
    border-radius: 15px;
  }
  
  .registro-form button {
    background-color: #870585;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
  }
  
  .registro-form button:hover {
    background-color: #6a2774;
  }
  
  /* Añade estos estilos al CSS existente */
.button-container1 {
    display: flex; /* Aplica flexbox al contenedor */
    justify-content: center; /* Opcional: centra los botones horizontalmente */
    align-items: center; /* Opcional: centra los botones verticalmente */
    
    
}

.switch-button1 {
    background-color: #ffffff;
    color: #870585;
    border: 2px solid #870585;
    padding: 10px;
    margin: 5px;
    
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    width: 120px;
}

.switch-button2 {
    background-color: #80107e;
    color: #f9f9f9;
    border: 2px solid #ffffff;
    padding: 10px;
    margin-bottom: 0px !important;
    margin: 0px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    width: 120px;
}

.switch-button1.active {
    background-color: #870585;
    color: #ffffff;
}

.switch-button1:hover {
    background-color: #6a2774;
    color: #ffffff;
}

  
  .login-register {
    color: white;
    font-size: 16px;
    margin-top: 10px;
  }