body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #b370b0;
  margin: 0;
  padding: 0;
  display: flow-root;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-size: cover; 
  font-family: 'Arial', sans-serif;
}

.registro-content {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: none; 
  overflow: hidden;
}

.organizer-info-container {
  flex: 1;
  background-color: #870585;
  padding: 40px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  color: #ffffff; 
  text-align: center; 
}

.organizer-info-container h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Arial black';
}

.organizer-info-container p {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.registro-form-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; 
  padding: 40px;
}

.logo-container {
  text-align: center; 
  margin-bottom: 7px; 
}

.logo {
  width: 200px; 
  margin-bottom: 1rem;
}

.Organizadorr {
  color: #9e9d9e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.switch-button {
  background-color: #870585;
  color: #ffffff;
  border: 2px solid #cfcfcf;
  padding: 10px;
  margin: 25px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 2px 2px 2px 0 rgba(1, 1, 1, 0.3);
}

.switch-button:hover {
  background-color: #592161;
  color: #ffffff;
}

.registro-form {
  display: flex;
  flex-direction: column;
}

.registro-form h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 8px;
  font-size: 35px;
}

.registro-form label {
  display: block;
  margin-top: 0.5rem;
  color: #efefef;
  font-size: 20px;
}

.registro-form input {
  display: block;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #efefef;
  border: 1px solid #bebebe;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 0 rgba(20, 20, 20, 0.3);
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row.horizontal {
  flex-direction: row;
}

.form-groupp {
  margin-bottom: 15px;
}
.registro-form button {
  background-color: #870585;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}

.registro-form button:hover {
  background-color: #6a2774;
}

.login-link {
  color: #0f1113;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-link:hover {
  color: #357ab8;
}
